<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QGCostcoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.2.2.222:8888/CM.CTOS.WebServiceLayer.back/QGCostco.asmx"
                binding="basicHttpBinding" bindingConfiguration="QGCostcoSoap"
                contract="BusinessOnlineServices.QGCostcoSoap" name="QGCostcoSoap" />
        </client>
    </system.serviceModel>
</configuration>