<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="CMICTWCF.CustomServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="CMICTWCFEndPointServiceBehaviors">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="CMICT.CSP.WCF.CMICTService" behaviorConfiguration="CMICTWCF.CustomServiceBehaviors">
        <endpoint name="web" address="" binding="webHttpBinding" contract="CMICT.CSP.WCF.ICMICTService" behaviorConfiguration="CMICTWCFEndPointServiceBehaviors">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint name="mex" address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://172.19.50.222:8080"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
  </system.webServer>
</configuration>